body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
    color: black;
    font-family: 'Mali', cursive;
}


.jumbotron {
    background: url("../images/prism.png");
    color: white;
}

button {
    margin: 10px;

}

#giphy-area {
    position: relative;
    margin: 30px;
    min-height: 100%;
    padding-bottom: 70px;
}

.image {
    margin: 15px 15px 0px 0px;
}

p, h5 {
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 10px;
}

footer {
    position: absolute;
    /* bottom: 0;
    left: 0; */ 
    width: 100%;
    height: 70px;
    margin-top: 20px;
    background: url("../images/prism.png");
}

#logo {
    margin-top: 15px;
}